nav.navbar-inverse{
     background-color:#206AE0 !important;
}
.jen{
    color: red;
}
div.jumbotron{
   background-image:url("../img/maps.png");
    padding-top: 100px;
    padding-bottom: 200px;
}
.navbar-inverse .navbar-brand{
    color: white;
    padding-right: 100px;
}
a.pana{
    color: white;
    padding-right: 20px;


}
